@model Pro3.Models.Album

<div class=" =container card-body-content">
    <div class="row imae-detail-container">
        <div class="image-detail">
            img src=@Model.Url 
        <div>
    </div>
</div>